beautifulsoup4==4.4.1
decorator==4.0.9
Flask==0.10.1
gunicorn==19.4.5
html2text==2016.1.8
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
ptyprocess==0.5.1
pymongo==3.2.1
requests==2.9.1
simplegeneric==0.8.1
traitlets==4.1.0
Werkzeug==0.11.4
